@mixin borderTL($color){
  border-left-color:$color;
  border-top-color:$color;
}

@mixin borderBR($color){
  border-right-color:$color;
  border-bottom-color:$color;
}

@mixin shadow($color){
  box-shadow: 2px 4px 2px $color;
}

@mixin shining{
  -webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.6) 30%, #000 50%, rgba(0,0,0,.6) 70%);
  -webkit-mask-size: 200%;
  animation: shine 5s infinite;
}

//link for background
@mixin background{
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
}

@mixin star($size){
  width:$size;
  height:$size;
  background: transparent;
}

@mixin secondStar($size){
  content: "";
  position: absolute;
  top: 2000px;
  background: transparent;
  width:$size;
  height:$size;
}

@mixin cloose{
  width: 0;
  height: 0;
  transform: scale(0);
  opacity: 0;
}