$tankLight : #146FDC; // rgb 20 111 220
$tankDark : #14a2dc;  // rgb 20 162 220

$dpsLight : #DC14A2; // rgb 220 20 162
$dpsDark : #dc143c; // rgb 220 20 60

$healLight : #AFDC14; // rgb 175 220 20
$healDark : #DCBB14;  // rgb 220 187 20

$reset : #4c679c; //rgb
$resetHover : #dc143c; //rgb

$login : #6495ed; //rgb
$register : #9370db; //rgb

$valid : #ffff00; ///rgb 255 255 0

$cancel : #f08080; //rgb

$light : #fff; //rgb 255 255 255
$medium : #c0c0c0;
$dark : #000; //rgb 0 0 0

$error : #880000;
$success : #008800;